/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
private.key1
request.csr
/public/messages/*
/public/trainings/*
/public/video/*
.composer.lock
/storage/payments/*
/public/preview/*
/public/preview
/public/.DS_Store
