.main-content{
	text-align: center;
	height: 1000px;
}

.logo{
	padding:3em 0 0 0;
	color: #1E0F00;
	vertical-align: unset;
	font-size: 28px;
}

.logo-pos{
	vertical-align: unset;

}

.t-cal{
	width: 100%;
	font-weight: bold;
}

.box-cal{
	width: 50px;
	height: 35px;
	border-right:  0.5px solid #ffb35d;

}

.bg-warning{
	background-color: #ff9319;
}

.bg-success{
	background-color: #3c9066;
	background-image: url('/ico/smile.png');
	background-size: 2em;
	background-repeat: no-repeat;
	background-position: center;
}

.bg-info{
	background-color: #ecba82;
}

.calendar{
	margin: 12em 0 0 0;
}

.programs{
	margin: 5em 0 0 0;
	text-align: left;
}

.program{
	background-color: #ebebeb;
	border-right: 1em solid white;
	padding: 0px;
}

.prog-txt{
	margin: 1em 0 0 1.7em;
	font-size: 16px;
	font-weight: bold;
}

.prog-name{
	font-family: 'GilroyBold';
	font-weight: normal;
	text-transform: uppercase;
	color: #1b3149;
	margin: 2em 0 0 1.7em;

}

.prog-descr{
	font-family: Suns;
	font-size: 14px;
	margin: 1em 0 1.5em 2em;
}

.prog-count{
	color: #FF9319;
}

.video-descr{
	width: 100%;
}

.btn-play{
	height: 5vw;
	width: 5vw;
	margin: -14em 0 0 0;
}

.video-btn, .video-btn:hover{
	width: 100%;
	background: url(/video/vdo-img1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 13vw;
}

.video_holder{
	text-align: center;
	margin: 0;
}


.prof-file{
	padding: 0;
	margin: -5em 0 0 1em;
	height: 6.5em;
	width: 100%;
	opacity:0;
    filter:alpha(opacity:0);
    cursor: pointer;
}

.send-proof{
	text-align: center;
}

.send-proof-file{
	background: url('/ico/send.png') ;
	background-size: cover;
	float: none;
	margin-top: 4em;
	padding: 1em 4em;
}

.otchet{
	width: 100%;
	height: 5em;
	vertical-align: middle;
}

.load-btn{
	text-align: center;
	margin: 0.3em 0 0 0;
}

.load{
	width: 3em;
	display: inline-block;
}


.load-text{
	display: inline-block;
	font-weight: bolder;
	height: 100%;
	margin: 0 0 1em 0;
}

@media screen and (max-width: 47.95em) {
	.logo{
		padding: 3em 0 0 0 !important;
	}
	.calendar{
		margin: 11em 0 0 0 !important;
	}

	.program{
		border: 2px solid white;
	}
	
	.prog-txt-container{
		margin: 0 0 0 10vw !important;	
	}

	.send-proof{
		padding: 0px;
	}
	.btn-play{
		height: 20vw !important;
		width: 20vw !important;
		margin:  -60vw 0 0 0 !important;
	}
	.video-btn, .video-btn:hover{
		height: 55vw !important;
	}

}

@media screen and (max-width: 61.95em) {
	.logo{
		padding: 3em 0 0 0 !important;
	}
	.calendar{
		margin: 11em 0 0 0 !important;
	}

	.program{
		border: 2px solid white;
	}
	.prog-txt-container{
		margin: 0 0 0 4vw;	
	}

	.send-proof{
		padding: 0px;
	}

	.btn-play{
		height: 13vw;
		width: 13vw;
		margin: -29vw 0 0 0;
	}

	.video-btn, .video-btn:hover{
		height: 28vw;
	}

}

.c-orange {
	color: #ff9319;
}

.c-white {
	color: white;
}

.box-cal span{
	color:white;
	z-index: 10;
	width: 20em;
	margin: 1.2em 0;
	position: absolute;
	visibility: hidden;
	padding: 1em;
	text-align: left;
	display: block;
}

.box-cal:hover span, .box-cal:hover{
	visibility: visible;
	background-color: #f36d00;
}

.chose-prog-container{
	border: 1em solid white;
	background-color: #ebebeb;
	font-weight: 500;
	height: 20em;
}


