.main-content{
	text-align: center;
	height: 1000px;
}

.logo{
	padding:3em 0 0 0;
	color: #1E0F00;
	vertical-align: unset;
	font-size: 28px;
}

.logo-pos{
	vertical-align: unset;

}

.t-cal{
	width: 100%;
	font-weight: bold;
}

.box-cal{
	width: 50px;
	height: 35px;
	border-right:  0.5px solid #ffb35d;
}

.bg-warning{
	background-color: #ff9319;
}

.bg-success{
	background-color: #3c9066;
	background-image: url('/ico/smile.png');
	background-size: 2em;
	background-repeat: no-repeat;
	background-position: center;
}

.bg-info{
	background-color: #ecba82;
}

.calendar{
	margin: 12em 0 0 0;
}

.programs{
	margin: 5em 0 0 0;
	text-align: left;
}

.program{
	background-color: #ebebeb;
	border: 15px solid white;
	padding: 0px;
}

.prog-txt{
	margin-left: 15%;
	margin-top: 1.5em;
	font-size: 16px;
	font-weight: bold;
}

.prog-txt-container{
	height: 12em;
}

.prog-name{
	font-family: 'GilroyBold';
	font-weight: normal;
	text-transform: uppercase;
	color: #1b3149;

}

.prog-count{
	color: #FF9319;
}

.video-descr{
	border: 1px solid black;
	width: 100%;
}

.btn-play{
	position: absolute;
	z-index: 1;
	height: 5vw;
	width: 5vw;
	margin: 15% 0 0 -60%;
}

.video-btn{
	width: 100%;
	height: 100%;
}

.prof-file{
	padding: 0;
	height: 100%;
	width: 100%;
	opacity:0;
    filter:alpha(opacity:0);
    cursor: pointer;
}

.send-proof{
	text-align: center;
}

.send-proof-file{
	background: url('/ico/send.png') ;
	background-size: cover;
	float: none;
	margin-top: 4em;
	padding: 1em 4em;
}

.otchet{
	background: url('/ico/load.png');
	background-repeat: no-repeat;
	background-size: 3em;
	overflow: hidden;
	background-position: 20% 45%;
	height: 100px;
	vertical-align: middle;
}


.load-text{
	font-weight: bolder;
	height: 100%;
	margin: -4.5em 0 0 7em;
}

@media screen and (max-width: 48em) {
	.logo{
		padding: 3em 0 0 0 !important;
	}
	.calendar{
		margin: 11em 0 0 0 !important;
	}

	.programs{
		margin: 20px 0 0 0;
	}

	.program{
		border: 2px solid white;
	}
	
	.send-proof{
		padding: 0px;
	}
	.load-text{
		margin: -4.5em 0 0 50% !important;
	}
	.btn-play{
		height: 20vw !important;
		width: 20vw !important;
		margin: 15% 0 0 -58% !important;
	}

}

@media screen and (max-width: 62em) {
	.logo{
		padding: 3em 0 0 0 !important;
	}
	.calendar{
		margin: 11em 0 0 0 !important;
	}


	.programs{
		margin: 30px 0 0 0;
	}

	.program{
		border: 2px solid white;
	}
	
	.send-proof{
		padding: 0px;
	}
	.load-text{
		margin: -4.5em 0 0 50%;
	}
	.btn-play{
		height: 13vw;
		width: 13vw;
		margin: 12% 0 0 -62%;
	}

}

.c-orange {
	color: #ff9319;
}

.c-white {
	color: white;
}

.box-cal span{
	color:white;
	z-index: 10;
	width: 20em;
	margin: 1.2em -1.56131em;
	position: absolute;
	visibility: hidden;
	padding: 1em;
	text-align: left;
}

.box-cal:hover span, .box-cal:hover{
	visibility: visible;
	background-color: #f36d00;
}

.chose-prog-container{
	border: 1em solid white;
	background-color: #ebebeb;
	font-weight: 500;
	height: 20em;
}