input{
	cursor: pointer;
}
/*--------------Right part--------------*/

.right_edit_part{
	height: 100%;
	padding: 7em 0 0 0;
	text-align: left;
}

.cnt{
	margin: 0 0 0 5.5em;
	font-size: 1.1em;
	font-family: MuseoSansCyrl_500;

}

.right_edit_part .row{ 
	margin: 1em 0 0 4.5em;
	font-size: 1.1em;
}

.row p{
	font-family: MuseoSansCyrl_500;
	color: #f36d00;
	padding: 0.65em 0 0 0;
}

.replenish_btn{
	height: 3.5em;
	width: 12em;
	background: #F98749;
	color: white;
	border-radius: 4px;
	font-family: MuseoSansCyrl_100;
	font-size: 0.8em;
	margin: 3em 0 0 3%;
}

.replenish_btn:hover{
	height: 3.7em;
	width: 12.2em;
	background-color: #F98749;
	margin: 2.8em 0em 0 2.8%;
}


.replenish_btn:active{
	height: 3.7em;
	width: 12.2em;
	background-color: #d9550e;
	margin: 2.8em 0 0 2.8%;
}

.black_btn{
	background-color: #232323;
	height: 3.5em;
	width: 12em;
	color: white;
	border-radius: 4px;
	font-family: MuseoSansCyrl_100;
	font-size: 0.8em;
	margin: 3em 0 0 3%
}

.black_btn:hover{
	height: 3.7em;
	width: 12.2em;
	margin: 2.8em 0 0 2.8%;
}

.black_btn:active{
	height: 3.7em;
	width: 12.2em;
	margin: 2.8em 0 0 2.8%;
	background-color: black;
}

.balance_table{
	width: 100%;
	border-top: none;
}

th, td{
	vertical-align: middle!important;
	height: 4em;
	text-align: center;
}

th{
	border-bottom: 1px solid #B6B6B6;
	color: #F98749;
	font-family: MuseoSansCyrl_100;
}

td{
	border-bottom: 1px solid #EAEAEA;
	font-family: MuseoSansCyrl_100;
	color: #3E3E3E;
}

.table-scrolling{
	margin: 3em 0 0 0;
	height: 60%;
	overflow: scroll;
	width: 95%;
	border: 1px solid #EAEAEA;

}

/*-----------------------Balance-Modal-------------------*/
.bal_modal_width{
	width: 22em;
	margin: 15% auto;
	text-align: center;
}

.bal_modal_height{
	height: 24em;
	border-radius: 0;
}

.add_money{
	text-align: center;
	margin: 2em 0 0 0;
	color: #FF9319;
	font-family: MuseoSansCyrl_500;
}

.money{
	margin: 0 0 0 1em;
}

.money_inputs{
	border-radius: 4px;
	border: 0.1em solid #b3b3b3;
	height: 3em;
	width: 16em;
	color: #999;
	padding-left: 3em;
	font-family: MuseoSansCyrl_100;
	margin: 2.5em 0 2em 0;
}

.output_money{
	display: none;
}

.bs-placeholder{
	width: 16em!important;
	height: 3em;
}

.bootstrap-select{
	left: 0.5em;
}

.send{
	margin: 2em 0 0 0;
	height: 3em;
	width: 12em;
	background-color: #F98749;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 0.9em;
}

.send:hover{
	margin: 1.8em -0.2 0 0;
	height: 3.2em;
	width: 12.2em;
	background-color: #F98749;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 0.9em;
}

.send:active{
	margin: 1.8em -0.2 0 0;
	height: 3.2em;
	width: 12.2em;
	background-color: #d9550e;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 0.9em;
}

.plaseholder{
	background: none;
}

.profile_btns p{
	font-family: MuseoSansCyrl_300!important;
	color: white;
	font-size: 1.2em!important;
}

.profile_btns i{
	width: 17px;
	height: 17px;
}

.user-fln{
	font-size: 17px!important;
	font-family: MuseoSansCyrl_300!important;
}

.img-circle{
	width: 110px;
	height: 110px;
}
.profile_btns{

	text-decoration: none;
	display: block;
	padding: 28px 0 28px 0em!important;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: bold;
}

.left_edit_part ul {
    font-size: 17px;
    list-style: none;
    text-align: center;
}

.fa-rub{
	font-size: 1em;
	color: #F36D00;
}