/* Left edit part*/

input{
	cursor: pointer;
}

.pd{
	padding: 0;
}

.pd div{
	padding: 0;
}

.ltt{
	width: 4.4em;
}

.rtt{
	width: 8em;
}

.lwh .orange-text{
	margin: 0 1.6em 0 0.6em;
}

.rwh .orange-text{
	margin: 0 1em 0 0.6em;
}

.rwh{
    margin: 0em 0 0 -2.4em;
}

.hw hr{
    width: 2vw;
    margin: 0.7em 0 0px -1em;
	border-width: 0.1em;
	border-color: #b6b6b6;
}

.orngln{
	border-color: #fddbca;
    margin: 1em 0 1.5em 0;
}

.ctt{
    width: 10em;
    text-align: right;
    font-weight: 100;
    margin: 0 3em 0.4em 0em;
}

.rf{
	color: black!important;
}

.gray-lit-text{
	font-size: 0.8vw;
	color: #cbcbcb;
	display: inline-flex;
}

/*---------------------Right edit part------------------------*/
.show-hidden-form{
	display: block;
}

.right_edit_part{
	height: 100%;
	padding: 7em 0 0 4em;
	text-align: left;
	background: url('/ico/REFORMATOR_ONE_fon_logo.png');
	background-repeat: no-repeat;
	background-position: 15em 9em;
}

.right_edit_part .row{
	margin: 2em 0 0 0;
}
.my_acc{
	font-family: MuseoSansCyrl_300;
	font-size: 1.1em;
	color: #232323;

}

.pd{
	padding: 0;
}

.m_usr_img{

	padding: 0;
}

.m_usr_dscr{
	padding: 1em 0 0 3em;
	background-position: 3em 6.5rem;
}

.ld_img{
	background: url('/ico/upload.png');
	background-repeat: no-repeat;
	background-size: 1.4em;
	cursor: pointer;
	background-position: left bottom;
	width: 10em;
	margin: 0.5em 0 0 0;
}

.m_usr_dscr .usr_name{
	margin: 1.9em 0 0 0;
	font-weight: bolder;
	font-family: MuseoSansCyrl_100;
	font-size: 1em;
}

.m_usr_dscr input{
	opacity: 0;
}

#load_photo_txt{
	margin: -1.5em 0 0 2em;
	font-family: MuseoSansCyrl_100;
	color: #b6b6b6;
	cursor: pointer;
	width: 8.5em;
}

/*-------------Инфо о себе----------------*/
.lft-info, .rt-info{
	padding: 0;
}

#myself_info{
	margin: 1.5em 0 0 0;
	color: #f36d00;
	font-family: MuseoSansCyrl_500;
	font-size: 1.1em;
	letter-spacing: 1px;
	display: inline-block;
}

.edit_btn{
	width: 1.5em;
	vertical-align: text-bottom;
	margin: 0 0 0 0.5em;
	cursor: pointer;
}

.lft-info p{
    color: #b6b6b6;
    font-family: MuseoSansCyrl_100;
    font-size: 1.1em;
    display: inline-block;
    width: 4.2em;
    text-align: right;
	margin: 0 2em 1em 0;
}

.rt-info p{
	color: #b6b6b6;
	font-family: MuseoSansCyrl_100;
	font-size: 1em;
	margin: 0 2em 0 0;
	display: inline-block;
	width: 8vw;
	text-align: right;
	padding: 0;
}

.p_marg{
	margin: 1em 0 0.5em 0;
}

.phone-inp{
    width: 16em;
}

.edit-inputs{
    background-color: white;
    border-radius: 3px;
    border: 1px solid #b6b6b6;
    height: 2em;
    text-align: left;
    color: #b6b6b6;
    width: 21.5vw;
    height: 2.5vw;
    padding: 1vw;
    margin: 0 0 1.5em 0;
}

.birthdate-left{
	border-radius: 4px 0 0 4px;
	border-right: none;
	
}

.birthdate-center{
	border-radius: 0;
}

.birthdate-right{
	border-radius: 0 4px 4px 0;
	border-left: none;
}

.customSelect{
	width: 5vw;
	height: 2.5vw;
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	margin: 0 0 1.5em 0;
	padding: 0.4vw;
    color: #b6b6b6;
}

.birthday{
	width: 8vw;
}

.dss:after{
	position: absolute;
    content: ' ';
    background: url(/ico/drop-ico.png);
    background-size: 0.5em;
    background-repeat: no-repeat;
    width: 2vw;
    height: 2.5vw;
    margin: -0.4em 0 0 1.8vw;
    background-position: 50% 50%;
    border-left: 1px solid #c6c6c6;
	pointer-events: none;
}

.birthday:after{
	position: absolute;
    content: ' ';
    background: url(/ico/drop-ico.png);
    background-size: 0.5em;
    background-repeat: no-repeat;
    width: 2vw;
    height: 2.5vw;
    margin: -0.4em 0 0 -1.6vw;
    background-position: 50% 50%;
    border-left: 1px solid #c6c6c6;
	pointer-events: none;
}

.hw-cls{
	display: inline-block;
	width: 4vw;
	padding: 0;
}

.wh-line{
	width: 1vw;
	display: inline-block;
    margin: 1em 0 0 3px;
}

.day, .month, .year{
	width: 
}

.yad{
	margin: 0 3vw 0 0;
}

.yadik{
    width: 15vw;
    height: 3vw;
    border-radius: 4px;
    font-size: 0.9em;
	font-family: MuseoSansCyrl_500;
	font-weight: 500;
}

.yadik:hover{
    width: 15.1vw;
    height: 3.1vw;
    font-size: 1em;
    margin: -0.1vw 0 0 -0.1vw;
}

.yadik:hover{
    width: 15.1vw;
    height: 3.1vw;
    font-size: 1em;
    margin: -0.1vw 0 0 -0.1vw;
}

.user-data-ctn{
	margin:1.5em 0 0 0;
}

.or{
	margin: 0 3vw 0 3vw;
}

.qw{
    margin: 0.6vw 2.2em 0 0!important;
}

.sg{
	width: 0!important;
    margin: 0.6vw 0 0 1em!important;
}

.wq{
    width: 3vw!important;
    margin: 0.6vw 1vw 0 0!important;
}

.inline-box{
	display: inline-block;
}

.wght-cls{
	margin: 0px 0px 0 -4em;
}

.save-btn{
	margin: 1em 0 3em 0;
	background-color: #ff8a18;
	color: white;
	border: none;
	border-radius: 4px;
	width: 11em;
	height: 3.5em;
}

.save-btn:hover{
	margin: 0.8em 0 3em 0;
	width: 11.2em;
	height: 3.7em;
}

.save-btn:active{
	background-color: #d9550e;
}

/*--------------User data-------------*/
.mrg{
	margin: 0!important;
}

.user-data-content{
	padding: 1.5em 0 0 0;
	display: none;
}

.orange-text{
	color: #ff8a18;
	font-family: MuseoSansCyrl_300;
	display: inline-block;
	text-align: right;
	font-size: 1.1em;
	font-weight: 100;
    margin: 0 3em 0 0;

}

.gray-text{
	color: #b6b6b6;
	font-family: MuseoSansCyrl_300;
	font-size: 1.1em;
	display: inline-block;
}


@media screen and (max-width: 767px) {
	.gray-lit-text{
		text-align: center;
		margin: 0.2em 0 4em 0;
	    font-size: 0.9em;
	}

	.mb-cct{
		width: 100%!important;
		margin: 0 0 0 -1em;
	}

	.mb-cct .gray-text{
		width: 100%;
	}

	.ctn{
		margin: 0 0 0 -1em;
	}

	.lwh .orange-text, .rwh .orange-text{
		margin: 0;
	}

	.gray-text{
		display: block;	
		text-align: center;
	}

	.rwh{
		margin:0;
		text-align: center;
	}

	.orange-text{
		width: 100%;
		display: block;
		text-align: center;
	}

	.pd{
		width: 46%;
		text-align: left!important;
	}
	.right_edit_part {
	    background-position: -1em 8em;
	}
	.right_edit_part {
	    padding: 7em 0 0 3em;
	}
	.save-btn {
		margin:3em 0 3em 20%;
	}
	.save-btn:hover {
		margin:2.6em 0 3.4em 20%;
	}
	.save-btn:active {
		margin:2.6em 0 3.4em 20%;
	}
	.pasport {
	    margin: 1.5em 0 0 0;
	}

	.rt-info p {
	    margin: 0 0 0.5em 0.1vw;
	}
	.m_usr_dscr {
	    padding: 0;
	}
	.m_usr_img {
	    width: 47%;
	}

	.edit-inputs{
	    width: 40vw;
	    height: 8.5vw;
	}

	.mbbg p{
		margin: 0 6.2em 0 0;
	}

	.bdd{
	    width: 7.2em!important;
	    margin: 0 0.8em 0 0!important;
	}

	.customSelect{
	    height: 8.5vw;	
		width: 11vw;
	    text-align: center;
	}

	.npd{
		margin: 0;
	}

	.customSelect:after{
		background: none;
		border: none;
	}

	.birthday:after{
		background: none;
		border: none;
	}

	.birthday {
	    width: 13vw;
	}

	.inp-yadik{
	    margin: 5% 0 5% 21%;
	}

	.yadik {
	    width: 45vw;
	    height: 11vw;
	    margin: 5% 0 0 18%;
		font-size: 0.9em;
	}

	.yadik:hover {
	    width: 45.1vw;
	    height: 11.1vw;
	    margin: 4% 0 0 18%;
	}

	.yadik:active {
	    width: 45.1vw;
	    height: 11.1vw;
	    margin: 4% 0 0 18%;
	}
	
	.txt-con{
		margin: 0.2em 0 0em 0;
	    font-size: 1em;
	}

	.wq {
	    width: 6vw!important;
	    margin: 0.6vw 14vw 0 0!important;
	}
	
}
@media only screen and (min-width : 768px) and (max-width : 991px) and (orientation: portrait){
	.gray-lit-text {
	    font-size: 1em;
	    color: #cbcbcb;
	    display: inline-flex;
	    font-size: 0.8em;
	    width: 15em;
	}

	.edit-inputs{
		width: 17.5vw;
		height: 3.5vw;
	}

	.rt-info p{
		width: 13.6vw;
	}

	.phone-inp{
		width: 23vw;
	}

	.wh-line {
	    width: 0.5vw;
	    margin: 3.2% 0 0 0;
	}

	.customSelect{
		height: 3.5vw;
		width: 5.8vw;
	}

	.birthday{
		width: 8vw;
	}

	.birthday:after{
		margin-top: 0;
	}

	.dss:after{
	    margin: 0 0 0 0.6em;
	}
	
	.hw-cls {
	    width: 4vw;
	}

	.wh-line {
	    margin: 1em 0 0 3px;
	}

	.yadik {
	    height: 4vw;
		font-size: 1vw;
	}

	.row{
		padding:0;
	}

}


@media screen and (min-width : 992px) and (max-width : 1199px){
	.wh-line{
		width: 0vw;
	}

	.rt-info p{
	    width: 9.6vw;
	}

	.edit-inputs{
	    width: 19vw!important;
	}

	.yadik{
		font-size: 0.9em;
	}

	.hw-cls{
		width: 4.2vw!important;
	}

	.rt-info{
		padding: 0 0 0 1vw;
	}

	.phone-inp{
		width: 21.7vw!important;
	}

	.dss:after{
	    margin: -0.4em 0 0 1.3vw;
	}
}