/* Left edit part*/

input{
	cursor: pointer;
}

.codrops-btn{
	display: none;
}

.left_edit_part{
		height: 100%;
		padding: 0;
		background-color: #282828;
		width: 17%;
		position: fixed;

}

.left_edit_part ul {
	font-size: 1em;
	margin: 0;
	padding: 7em 0 0 2em;
	list-style: none;
	text-align: left;
}


.left_edit_part ul li a {
	text-decoration: none;
	display: block;
	padding: 1.2em 0 1.2em 0em;
	outline: none;
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.left_edit_part ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.left_edit_part ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}


.prof_ico{
	background: url('/ico/profile.png');
	background-size: cover;
	width: 1em;
	height: 1em;
}

.wallet_ico{
	background: url('/ico/wallet.png');
	background-size: cover;
	width: 1em;
	height: 1em;

}

.prof-disp{
	display: inline-block;
	margin: 0 0 0 0.5em;
}

.img-circle{
	width: 90px;
}

.left_edit_part p{
	font-family: GilroyLight;
	color: white;
	font-size: 1em;
}

.user-fln{
	margin:1em 0 2em 0;
}

.profile_btns:hover{
	border-left: 0.3em solid #F36D00;
}

.message_list{
	background-color: #2C2C2C;
	height: 100%;
	position: fixed;
	width: 27%;
	display: none;
}

.message_list{
	padding: 4em 0 0 0;
}

.message_list ul{
	padding: 0;
	height: 4em;
}

.message_list ul li{
	text-align: center;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	font-family: MuseoSansCyrl_300;
	font-size: 1em;
	height: 100%;
}

.sended{
	color: white;
	font-family: MuseoSansCyrl_300;
	vertical-align: middle;
	padding: 1.38em 0 0 0;
	height: 100%;
	width: 100%;
	background-color: #5A5A5A;
}

.min_msg_cont{
	height: 6em !important;
	color: #A9A9A9;
}

.min_msg_cont:hover{
	background-color: #353535;
	border-left: 0.3em solid #F98749;
	cursor: pointer;
}

.min_left_col, .min_right_col{
	padding: 1em 0 0 2em;
	text-align: left;
}

.min_right_col{
	padding-left: 6em; 
}

.who_send{
	font-family: MuseoSansCyrl_500!important;
}

.when_send{
	font-family: MuseoSansCyrl_500!important;
}

.answer_msg{
	font-family: MuseoSansCyrl_300;
	font-size: 0.9em;
	color: #909090;
	margin: 1.3em 0 0 0;
}

.answer_msg:hover{
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
}
	
.attach_ico{
	height: 1em;
	width: 1em;
	margin: 0.5em 0 0 25%;
}


ul{
	list-style: none;
}

/*---------------------Right edit part------------------------*/

.inp_msg_ico{
	background: url('/ico/input_mess.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1em;
	height: 1em;
}

.msg_ico{
	background: url('/ico/mess.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1em;
	height: 1em;
}

.write_button{
	margin: 1em 0 3em 0;
	height: 3.5em;
	width: 12em;
	background-color: #F98749;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 0.9em;
}

.write_button:hover{
	margin: 0.8em -0.2 3em 0;
	height: 3.7em;
	width: 12.2em;
	background-color: #F98749;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 0.9em;
}

.write_button:acive{
	margin: 0.8em -0.2 3em 0;
	height: 3.7em;
	width: 12.2em;
	background-color: #d9550e	;
	border-radius: 4px;
	border: none;
	color: white;
	font-size: 0.9em;
}

.write_button_li{
	height: 4em;
	margin-bottom: 5em;
}


.right_edit_part{
	height: 100%;
	text-align: left;
}

.right_edit_part .row{
	height: 100%;
}

.message_list{
	background-color: #2C2C2C;
	height: 100%;
}

.received_message{
	display: none;
}

.message_list{
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	
}

.back{
	display: none;
	cursor: pointer;
}
/*-----------------New message---------------*/
.new_message{
	margin: 7em 0 0 0;
	padding: 0 0 0 6em;
	position: relative;
	display: block;
}

.new-msg{
	font-family: MuseoSansCyrl_500;
}

.msg_theme{
	padding: 0 0 0 2em;
	width: 60%;
	height: 3em;
	margin: 2em 0 0 0;
	border: 0.1em solid #C5C5C5;
	border-radius: 4px 4px 0 0;
	font-family: MuseoSansCyrl_100;

}

.msg_text{
	padding: 1em 0 0 2em;
	width: 60%;
	margin: 0;
	border: 0.1em solid #C5C5C5;
	border-radius: 0 0 4px 4px;
	border-top: none;
	resize: none;
	font-family: MuseoSansCyrl_100;
}


.sended_message{
	display: none;
}

.received_message{
	display: none;
}


/*----------------------------Input message-------------------------*/

.message_head{
	height: 5em;
	font-family: MuseoSansCyrl_500;
	font-size: 1.05em;
	color: #232323;
}

.received_message, .sended_message{
	padding: 8em 0 0 5em;
}

.user_ava{
	height: 6em;
	width: 6em;
}

.message_sender{
	margin: 1.5em 0 0 0;
	text-align: left;

}

.message_theme{
	font-family: MuseoSansCyrl_300;
	color: #232323;
	font-size: 1.5em;
}

.message_text{
	margin: 1.5em 0 0 0;
	width: 80%;
	font-family: MuseoSansCyrl_100;
	font-size: 1.1em;
	color: #3E3E3E;
	line-height: 2em;
}

.send_back{
	margin: 3em 0 1em 0;
	border-radius: 4px;
	border: none;
	background-color: #F0EFEF;
	width: 80%;
	padding: 1em 0 0 2em;
	height: 14em;
	color: #A7A5A5;
	font-size: 1.1em;
}

.snd_btn{
	margin: 1em 0 3em 56%;
	text-transform: uppercase;

}

.send_btn_align{
	width: 60%;
	text-align: right;
}


/*-----------------------------------------Moblie screen--------------------------------*/
@media screen and (max-width: 61.95em) {
	.received_message{
		padding: 0;
		margin: 7em auto;
		text-align: center;
	}

	.message_head p{
		text-align: left;
	}

	.message_cnt{
		text-align: left;
		padding: 0 0 0 3em;
	}

	.send_back{
		width: 95%;
	}

	.snd_btn{
		width: 14em!important;
	}

	.back{
		position: fixed;
		z-index: 2;
		margin: 1em 0 0 -30%;
	}

	.left_edit_part{
		width: 33.333333%;
	}
	.write_button{
		width: 80%;
	}
	.write_button:hover{
		width: 80.2%;
	}
	.write_button:active{
		width: 80.2%;
	}
	.msg_theme{
		width: 100%;
	}
	.msg_text{
		width: 100%;
	}
	.new_message{
		padding: 0;
		margin: 7em auto;
	}
	.msg_sendbutton{
		width: 12em;
	}
	.msg_sendbutton:hover{
		width: 12.2em;
	}
	.msg_sendbutton:active{
		width: 12.2em;
	}
	.send_btn_align{
		width: 100%;
		text-align: right;
	}
	.message_list{
		height: 100%;
		width: 33.33333%;
		margin: 0 0 0 -33.3333333%;
		position: fixed;
		display: none;
	}
}

