.codrops-btn{
	display: none;
}

.left_edit_part{
	height: 100%;
	padding: 0;
	width: 16.6666%;
	background-color: #282828;
	position: fixed;
}

.left_edit_part ul {
	font-size: 1em;
	margin: 0;
	padding: 6em 0 0 0;
	list-style: none;
	text-align: center;
}

.left_edit_part ul li a {
	text-decoration: none;
	display: block;
	padding: 1.1em 0 1.1em 0em!important;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
	font-size: 0.9em !important;

}

.left_edit_part ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.left_edit_part ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

.img-circle{
	width: 90px;
}

.left_edit_part p{
	font-family: GilroyLight!important;
	color: white;
	font-size: 1.1em !important;
	vertical-align: bottom;
}

.user-fln{
	margin:1em 0 2em 0;
}

.profile_btns:hover{
	border-left: 0.4em solid #F36D00;
}

@media screen and (max-width: 61.95em) {
	.left_edit_part{
		width: 33.33333333% !important;
	}
	.codrops-btn{
		display: block;
	}
	.office_sidebar{
		display: none;
	}
}
