.main-content{
	text-align: center;
	height: 1000px;
}

.logo{
	padding:70px 50px 0 0;
	color: #1E0F00;
	vertical-align: unset;
	font-size: 28px;
}

.logo-pos{
	vertical-align: unset;

}

.t-cal{
	width: 100%;
	font-weight: 500;
}

.box-cal{
	width: 50px;
	height: 35px;
	background: #ff9319;
	border: 0.5px solid #ffb35d;
}

.calendar{
	margin: 170px 0 0 0;
}

.programs{
	margin: 100px 0 0 0;
	text-align: left;
}

.program{
	background-color: #ebebeb;
	border: 15px solid white;
	padding: 0px;
}

.prog-txt{
	margin-left: 2em;
	margin-top: 1.5em;
	font-size: 16px;
	font-weight: 500;
}

.prog-name{
	font-weight: bold;
	text-transform: uppercase;
	color: #1b3149;

}

.prog-count{
	color: #FF9319;
}

.video-descr{
	border: 1px solid black;
	width: 100%;
}

.otchet{
	height: 100px;
	vertical-align: middle;
}

.prof-file{
	padding: 0;
	height: 100%;
	opacity:0;
    filter:alpha(opacity:0);
    cursor: pointer;
}

.send-proof{
	text-align: center;
}

.send-proof-file{
	background: url('/ico/send.png') ;
	background-size: cover;
	float: none;
	margin-top: 4em;
	width: 300px;

}

.otchet{
	background: url('/ico/load.png');
	background-repeat: no-repeat;
	background-size: 3.5em;
	padding: 1.5em 0 0 4em;
	overflow: hidden;
	background-position: 4em 1.5em;
}


.load-text{
	padding: 0.9em 0 0 0;
	font-weight: bolder;
}

@media screen and (max-width: 25em) {
	.logo{
		padding: 30px 0 0 0;
	}
	.calendar{
		margin: 40px 0 0 0;
	}

	.programs{
		margin: 20px 0 0 0;
	}

	.program{
		border: 2px solid white;
	}
	
	.send-proof{
		padding: 0px;
	}
}

@media screen and (max-width: 46.0625em) {
	.logo{
		padding: 40px 0 0 0;
	}
	.calendar{
		margin: 50px 0 0 0;
	}

	.programs{
		margin: 30px 0 0 0;
	}

	.program{
		border: 2px solid white;
	}
	
	.send-proof{
		padding: 0px;
	}
}

.c-orange {
	color: #ff9319;
}

.c-white {
	color: white;
}

