.main-content{
	text-align: center;
	height: 1000px;
}

.logo{
	padding:70px 50px 0 0;
	color: #1E0F00;
	vertical-align: unset;
	font-size: 28px;
}

.logo-pos{
	vertical-align: unset;

}

.t-cal{
	width: 100%;
}

.box-cal{
	width: 50px;
	height: 35px;
	background: #ff9319;
	border: 0.5px solid #ffb35d;
}

.calendar{
	margin: 170px 0 0 0;
}

.programs{
	margin: 100px 0 0 0;
}

.program{
	background-color: #ebebeb;
	border: 15px solid white;
	padding: 0px;
}

.video-descr{
	border: 1px solid black;
	width: 100%;
}

.otchet{
	height: 100px;
	vertical-align: middle;
}

.prof-file{
	padding: 0;
	height: 100%;
	opacity:0;
    filter:alpha(opacity:0);
    	cursor: pointer;
}

.send-proof{
	text-align: center;
}

.send-proof-file{
	width: 200px;
	float: none;
}

.otchet{
	background: url('/ico/load.png');
	background-repeat: no-repeat;
	background-size: 67px;
	margin: 15px 0 0 20%;
	overflow: hidden;
}


.load-text{
	padding: 15px 0 0 0;
}

@media screen and (max-width: 25em) {
	.logo{
		padding: 30px 0 0 0;
	}
	.calendar{
		margin: 40px 0 0 0;
	}

	.programs{
		margin: 20px 0 0 0;
	}

	.program{
		border: 2px solid white;
	}
	
	.send-proof{
		padding: 0px;
	}
}

@media screen and (max-width: 46.0625em) {
	.logo{
		padding: 40px 0 0 0;
	}
	.calendar{
		margin: 50px 0 0 0;
	}

	.programs{
		margin: 30px 0 0 0;
	}

	.program{
		border: 2px solid white;
	}
	
	.send-proof{
		padding: 0px;
	}
}

