.tooltipster-sidetip.tooltipster-bordless.tooltipster-bordless-customized .tooltipster-box {
	background: grey;
	border: 3px solid red;
	border-radius: 6px;
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.tooltipster-sidetip.tooltipster-bordless.tooltipster-bordless-customized .tooltipster-content {
	color: blue;
	padding: 8px;
}