
/*-----------------------------Login form------------------------*/
.modal-dialog{
	margin: 7em auto;
}

.login_form,
.reg_modal,
.password_form{
	width: 32em;
}

.login_form .modal-content,
.reg_modal .modal-content,
.password_form .modal-content{
	text-align: center;
	border-radius: 15px;
	background-color: white;
}
.enter_across,
.reg_enter_across{
	font-size: 12px;
	font-weight: 100;
	margin: 10px 0 0;
}
.enter_across hr,
.reg_enter_across hr{
	width: 16%;
	margin: 2px 0;
	text-align: center;
	border-bottom: 1px solid #81868F;
	display: inline-block;
}
.login_form .modal-content .modal-body h4,
.reg_modal .modal-content .modal-body h3,
.password_form .modal-content .modal-body h4{
	color: #ff8a18;
	font-family: MuseoSansCyrl_900;
	font-size: 20px;
	margin: 0 0 15px;
}

.login_input,
.reg_input,
.password_input{
	background-color: white;
	border-radius: 3px;
	border: 1px solid #B3B3B3;
	color: #81868F;
	width: 65%;
	height: auto;
	font-size: 14px;
	font-weight: 100;
	padding: 6px 8px;
}
.login_input:not(:last-child),
.reg_input:not(:last-child){
	margin-bottom: 5px;
}


.login_btn{
	background-color: #ff8a18;
	border: none;
	border-radius: 2em;
	color: white;
	font-family: MuseoSansCyrl_100;
	display: block;
	margin: 10px auto 20px;
}
.password_btn{
	background-color: #ff8a18;
	border: none;
	border-radius: 2em;
	color: white;
	font-family: MuseoSansCyrl_100;
	display: block;
	margin: 10px auto 20px;
	text-transform: uppercase;
}

.login_form .modal-content .modal-body a {
	color: #81868F;
	text-decoration: none;
	display: block;
}


.enter_across a{
	color: #81868F!important;
	text-decoration: none;
	display: inline-block!important;
}


@media screen and (max-width: 46.0625em) {
	.login_form,
	.password_form{
		width: 95%;
	}
	hr{
		width: 23%;
	}
	.login_form .modal-content{
		background-position: 95% 8em;
	}
}


/*------------------------------Registration Form---------------------------------*/

.registr_btn{
	background-color: #ff8a18;
	border: none;
	border-radius: 2em;
	width: 65%;
	height: 3.5em;
	color: white;
	margin: 1.5em 0 0 0;
	font-family: MuseoSansCyrl_100;
	font-size: 0.88em;
}


@media screen and (min-width: 992px) {
	.reg_modal{
		width: 35vw;
	}

	.reg_modal .modal-content{
		background-size: 11vw;
	}

	.registr_btn{
		margin: 15px 0 0 0;
	}

	.reg_modal .modal-content{
	    background-position: 20vw 3.75vw;
	}
		
}