/*-----------------------------Main-page-------------------------*/
html{
	height: auto!important;
	overflow-y: scroll!important;
}

.st-content{
	overflow: hidden!important;
}

.st-content, .st-pusher, .st-container, .container-fluid{
	margin: 0;
}

ul li{
	list-style: none;
}


.spy_sections{
	height: 1em!important;
	padding: 0 0 0 5em!important;
	display: none!important;
	background-color: transparent!important;

}

.spy_sections p{
	font-size: 0.9vw!important;
	color: #818181!important;
}

.active a p{
	color: white!important;
}

.active .fm_line{
	display: block;
	color: white!important;
}

.fm_line{
    margin: 0.15em 0 -0.3em 8.58em!important;
	color: #818181!important;
	display: none;
}

.top_section{
	padding: 0.5em 0 0 6.1em!important;
}

.st-menu{
	position: fixed;
}

/*-----------------------------sidebar---------------------------*/
@media screen and (min-width: 992px) {
	.column{
		visibility: hidden;
		pointer-events: none;
	}

}

.disp_line{
    margin: 0 0 0 40%;
    width: 20%;
    box-shadow: none;
    border-bottom: 0.00000000000000000000411px solid #ff8a18;
    position: relative;
    text-align: center;
    opacity: 0.4;
    border-top: none;
}

.st-menu ul li a {
    padding: 1.8em 0 1.8em 5em!important;
    text-align: left;
}
.open ul li {
    height: 4.5em!important;
}

.usr_img_mn{
	text-align: center;
    margin: 0 0px 1em 0;

}

.prof-disp{
	margin: 0!important;
}

.profile_btns p{
	margin-left: 5px!important;
}

.lgn{
    padding: 1.6em 0 1em 4em !important;
}

.checked{
	float: right;
	padding: 2em 4em 0 0;
	display: inline-block;
}

.main_dropdown .dropdown-toggle{
	background-color: rgba(0,0,0,0);
	width: 105%!important;
}

.main_dropdown .dropdown-toggle div{
	width: 90%;
}

.main_dropdown .dropdown-toggle div .user-name{
	font-size: 1vw;
}

.main_dropdown .dropdown-toggle i{
	padding: 0!important;
	font-size: 1.3vw;
}



.main_dropdown .user_dropdown{
	background-color: rgba(0,0,0,0);
	text-align: left;
	margin: 0 -3.5em  0 4em;
}

.main_dropdown .user_dropdown li{
	height: 3vw;
}

.main_dropdown .user_dropdown li a{
	padding: 7% 0 0 25% !important;
	font-size: 1vw;
}
.main_dropdown .user_dropdown li a:hover{
	border:none!important;
	background-color: rgba(255,255,255,0.5)!important;
	
}

.cdr-btn{
	position: relative;
	z-index: 2;
	padding: 2em 0 0 2em;
	background-color: rgba(0,0,0,0)
}

.cdr-btn:hover{
	background-color: rgba(0,0,0,0)
}

.container-fluid{
	padding: 0;
}

.main_sidebar{
	height: 100%;
	padding: 0;
	background-color: #282828;
	position: fixed;
}

.main_sidebar ul {
    font-size: 1em;
    margin: 0;
    padding: 5em 0 0 0;
    list-style: none;
    text-align: left;
}


.main_sidebar ul li a {
	text-decoration: none;
	display: block;
	padding: 0.9em 0 1em 4em;
	outline: none;
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 0.9vw !important;
	height: 5em;

}

.main_sidebar ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.main_sidebar ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

.main_sidebar p{
	font-family: GilroyLight!important;
	color: white;
	font-size: 1.1vw !important;
	word-wrap: break-word;
	margin: 0;
}

.user-fln{
	margin:1em 0 2em 0;
}

.profile_btns:hover{
	border-left: 0.4em solid #F36D00;
}

.side_logo{
	width: 10vw;
	margin-left: 3em;
}

@media screen and (max-width: 61.95em) {
	.main_sidebar{
	}
	.codrops-btn{
		display: block;
	}
	.office_sidebar{
		display: none;
	}
}

.home_content{
	margin:0;
	padding: 0;
}



/*-----------------------------First screen(reg-screen)------------*/

.rg_check_in{
	margin: 4.2em 0 0 0;
}

.reg-screen{
	background: url(/ico/regmg.png);
	background-size: 100% 100%;
	min-height: 52vw;
	max-height: 100vw;
	background-repeat: no-repeat;
	padding: 0;
}

.reg_scr_content #st-trigger-effects{
	display: inline-block;
	float: left;
}

.reg_scr_content .img-circle{
	width: 5vw!important;
	height: 5vw!important;
}

.reg_scr_content h1{
	font-size: 3vw;
}

.reg_screen_shader{
	width: 100%;
    height: 100%;
    position: absolute;
	background-color: rgba(0,0,0,0.3);
	z-index: 1;
}

.reg_scr_content{
	z-index: 2;
	position: relative;
	text-align: center;
}

.rl_btns {
    display: inline-block;
    width: 17vw;
    height: 4.3vw;
    border-radius: 2em;
    font-family: MuseoSansCyrl_500;
    font-size: 1.1vw;
}


.reg_log_btns{
	float: right;
	word-spacing: 2em;
	margin: 3em 3em 0 0;
}

.reg_btn{
	background-color: #ff8a18;
	border: none;
}

.reg_btn:hover{
	width: 17.2vw;
    height: 4.5vw;
    margin: -0.2em 0 0 0.2em;
    background-color: #ff8a18;
}

.reg_btn:active{
	width: 17.2vw;
    height: 4.5vw;
    margin: -0.2em 0 0 0;
    background-color: #D9550E;
}

.log_btn{
	background-color: rgba(0,0,0,0);
	border: 0.2em solid white;
}

.log_btn:hover{
	width: 17.2vw;
    height: 4.5vw;
    margin: -0.2em -0.2em 0 0;
	background-color: rgba(0,0,0,0);
}

.log_btn:active{
	width: 17.2vw;
    height: 4.5vw;
    margin: -0.2em -0.2em 0 0;
    border: none;
	background-color: rgba(255,255,255,0.7);
}

.reg_scrn_txt{
	padding: 16vw 0 0 0;
	font-family: GilroyBold;
	color: white;
}

.reg_scrn_txt h1{
	letter-spacing: 1px;
	margin: 0.8vw 0 0 0;
}

.reg_scrn_txt p{
	font-family: GilroyLight;
	font-size: 2vw;
    font-weight: 100;
    margin: 1em 0 0 0;
    letter-spacing: 1px;
}

.rg_btn{
	margin: 5vw 0 0 0;
	width: 22vw;
	height: 4vw;
	background-color: #ff8a18;
	border: none;
	border-radius: 2em;
	font-size: 1.1vw;
	font-family: MuseoSansCyrl_500;
}

.rg_btn:hover{
	margin: 4.8vw 0 0 0;
	width: 20.2vw;
	height: 4.2vw;
	background-color: #ff8a18;
}

.rg_btn:active{
	margin: 4.8em 0 0 0;
	width: 20.2vw;
	height: 4.2vw;
	background-color: #D9550E;
}


/*-----------------------------Second Screen(Info_screen)----------*/
.info-screen{
	height: 95vh;
	padding: 0;
	margin: 3vh 0 0 0;
}

.info_naming{
	text-align: center;
	padding: 2vw 0 0 0;
	word-spacing: 0.5em;
}

.info_naming h2, .info_naming img{
	display: inline-block;
}


.info_naming img{
	vertical-align: baseline;
	width: 12vw;
}

.info_naming h2,.programm-screen h2, .bonus-screen h2,
.how-screen h2,.comments-screen h2,.questions-screen h2{
	color: #ff8a18;
	font-family: GilroyBold;
	font-size: 1.9vw;
	margin: 0;
	padding: 0;
}

.info_first_string ul li, .info_second_string ul li{
	display: inline-block;
	text-align: center;
	font-family: MuseoSansCyrl_100;
	padding: 0;
}

.n1{
    background: url('/ico/1.png');
    background-position: 15.1vw 1.75em;
    background-repeat: no-repeat;
}

.n2{
    background: url('/ico/2 .png');
    background-position: 15.6vw 1.75em;
    background-repeat: no-repeat;
}

.n3{
    background: url('/ico/3.png');
    background-position: 15.6vw 1.75em;
    background-repeat: no-repeat;
}

.n4{
    background: url('/ico/4.png');
    background-position: 14.3vw 2.3em;
    background-repeat: no-repeat;
}

.n5{
    background: url('/ico/5.png');
    background-position: 15.6vw 2.5em;
    background-repeat: no-repeat;1em
}

.n6{
    background: url('/ico/6.png');
    background-position: 15.5vw 2.4em;
    background-repeat: no-repeat;
}

.n1 p, .n2 p, .n3 p, .n4 p, .n5 p, .n6 p{
	margin: 1.5em 0 0 0!important;
	font-size: 1.1vw;
}

.n1 img, .n2 img, .n3 img, .n4 img, .n5 img, .n6 img{
	width: 9vw;
}

.n4, .n5, .n6{
	margin: 3em 0 0 0;
}

.info_cont{
	padding: 5vw 0 0 0;
	text-align: center;
}

.info_first_string ul li p, .info_second_string ul li p{
	margin-top: 2em;
}

.info_first_string ul li img{
	height: 90px;
}

.info_first_string{
	height: 14em;
}

.info_second_string{
	margin: 2em 0 0 0;
	height: 14em;
}




/*-----------------------------Third Screen(Programm Screen)-----------------*/

.programm-screen{
	height: 95vh;
	padding: 3vw 0 0 0;
    margin: 0 0 2.5vw 0;

}

.programm-screen h2{
	text-align: center;
	margin:0;
}

.programm_list {
    height: 100%;
    width: 100%;
    background: url(/ico/PO.png);
    background-size: 100vw 79vh;
    background-repeat: no-repeat;
    background-position: -1vw 3vw;
    padding: 3.5vw 0 0 0;
}

.rone_start{
	padding: 2.5vw 0 0 6vw;
}

.rone_start p{
    position: absolute;
    font-size: 3vw;
    color: white;
    margin: -6vw 0 0 4vw;
    z-index: 2;
}

.rone_other_progr{
	padding: 2.5vw 0 0 0;
}

.start{
	height: 35vw;
	width: 29vw;
}

.powp, .runpl{
	margin: 0 0 0 1em;
}

.first_progr_string,.second_progr_string{
	word-spacing: 1.6em;
}

.first_progr_string ul li, .second_progr_string ul li{
	display: inline-block;
	width: 43.4%;
}

.first_progr_string ul li .prprp, .second_progr_string ul li .prprp{
    position: absolute;
    font-size: 2.3vw;
    color: white;
    margin: -4vw 0 0 2vw;
    z-index: 2;
	pointer-events: none;
}

.prg1{
	pointer-events: none;
}

.first_progr_string ul, .second_progr_string ul{
	padding-left: 0.3em;
}

.first_progr_string ul li img, .second_progr_string ul li img{
	width: 20.5vw;
    height: 17.1vw;
}

.second_progr_string{
	margin: 1.6em 0 0 0;
}



.start_shader{
	position: absolute;
    margin: -35vw 0 0 0;
    width: 29vw;
    height: 35vw;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    display: none;
}

.start_shader p{
	position: relative;
	z-index: 2;
	color: white;
	margin: 1em 0 0 3vw;
	font-family: MuseoSansCyrl_100;
	font-weight: 100;
	font-size: 1.4vw;
	width: 19vw;
	word-wrap: break-word;
	height: 14vw;
}

.start_shader h4{
    font-family: MuseoSansCyrl_700;
    font-size: 3vw;
    position: relative;
    z-index: 2;
    margin: 6vw 0 0 3vw;
    color: #ff8a18;
}

.start_shader button{
	margin: 0 4em 0 0;
	float: right;
}

.start_shader button:hover{
	margin: -0.2em 3.8em 0 0;
	float: right;
}

.start_shader button:active{
	margin: -0.2em 3.8em 0 0;
	float: right;
}

.pro_shader, .pow_shader, .run_shader, .runp_shader{
    position: absolute;
	width: 20.5vw;
	margin: -17.1vw 0 0 1em;
    height: 17.1vw;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    display: none;
}

.pro_shader, .run_shader{
	height: 17.1vw;
    margin: -17.1vw 0 0 0;
}

.start_shader_gray, .pro_shader_gray, .pow_shader_gray,
 .run_shader_gray, .runp_shader_gray{
	position: absolute;
	background-color: rgba(246, 135, 73,0.149);
	z-index: 1;
}

.pro_shader_gray, .run_shader_gray{
	margin: -17vw 0 0 0;
	width: 20.5vw;
	height: 17vw;
}

.pow_shader_gray, .runp_shader_gray{
	margin: -17vw 0 0 1vw;
	width: 20.5vw;
	height: 17vw;
}

.start_shader_gray{
	margin: -35vw 0 0 0;
	height: 35vw;
	width: 29vw;
}

.start_shader_gray p{
	font-family: MuseoSansCyrl_900;
	color: #fefefe;
	opacity: 0.2;
	font-size: 18vw;
	margin: 16vw 0 0 -4vw;
	height: 20vw;
	pointer-events: none;
}

.pro_shader_gray p, .run_shader_gray p{
	font-family: MuseoSansCyrl_900;
	color: #fefefe;
	opacity: 0.2;
	font-size: 9vw;
	margin: 8vw 0 0 -0.8vw;
	width: 1px;
    height: 1px;
    pointer-events: none;
}

.pow_shader_gray p, .runp_shader_gray p{
	font-family: MuseoSansCyrl_900;
	color: #fefefe;
	opacity: 0.2;
	font-size: 9vw;
	margin: 8vw 0 0 -1.5vw;
	width: 1px;
    height: 1px;
    pointer-events: none;
}

.pro_shader h4, .pow_shader h4, .run_shader h4, .runp_shader h4{
    font-family: MuseoSansCyrl_700;
    font-size: 2vw;
    position: relative;
    z-index: 3;
    margin: 2.5vw 0 0 2vw;
    color: white;
    width: 15vw;
}

.pro_shader p, .pow_shader p, .run_shader p, .runp_shader p{
	position: relative;
	z-index: 2;
	color: white;
	margin: 1em 0 0 2vw;
	font-family: MuseoSansCyrl_100;
	font-weight: 100;
	font-size: 1.4vw;
	width: 16vw;
	word-wrap: break-word;	
	height: 4.5vw;
}

.pro_shader button, .pow_shader button, .run_shader button, .runp_shader button{
	float: right;
	margin: 0 2.5em 0 0;
	position: relative;
	z-index: 2;
}

.pro_shader button:hover, .pow_shader button:hover, .run_shader button:hover, .runp_shader button:hover{
	margin: 0 2.3em 0 0!important;
}

.pro_shader button:active, .pow_shader button:active, .run_shader button:active, .runp_shader button:active{
	margin: 0 2.3em 0 0!important;
	background-color: white!important;
	border: none;
	color: white;
}
/*----------------------------Forth Screen(Bonus)----------------------------*/
.bonus-screen{
	height: 95vh;
	text-align: center;
	padding: 3vw 0 0 0;
	margin: 0 0 1.5vw 0;
}
.left_bonus_part{
	padding: 14vw 0 0 0;
}
.right_bonus_part{
	height: 35vw;
	padding: 14vw 0 0 2.9em;
	text-align: left;
	background: url("/ico/mon2.png");
	background-repeat: no-repeat;
	background-position: right 6vw;
	background-size: 18vw;
}

.right_bonus_part p{
	font-size: 1.1vw;
	font-family: MuseoSansCyrl_700;
	color: #303030;
}

.left_bonus_part img{
	width: 16vw;
}

.bonus_btn{
	width: 18em;
	height: 4em;
	background-color: rgba(0,0,0,0);
	border: 0.1em solid #4D4D4D;
	border-radius: 2em;
	color: #232323;
	font-family: MuseoSansCyrl_500;
	margin: 4em 0 0 0;
	font-size: 1.2vw;
}

.bonus_btn:hover{
	width: 18.2em;
	height: 4.2em;
	background-color: rgba(0,0,0,0);
	margin: 3.8em 0em 0 -0.1em;
}

.bonus_btn:active{
	width: 18.2em;
	height: 4.2em;
	background-color: #DFDFDF;
	border:none;
	margin: 3.8em 0em 0 -0.1em;
}


/*-----------------------------Fifth Screen(How-Screen)*/
.how-screen{
	height: 95vh;
	text-align: center;
	padding: 3vw 0 0 0;
	margin: 0 0 2vw 0;
}

.how_cnt{
	margin: 7em 0 0 0;
	height: auto;
	display: inline-block;
	min-height: 28vw;
}

.how_cnt img{
	width: 9vw;
}

.choice{
	background: url('/ico/choice.png');
	background-repeat: no-repeat;
    background-position: 50% 6em;
    background-size: 43%;
}

.freedom{
	background: url('/ico/freedom.png');
	background-repeat: no-repeat;
    background-position: 50% 6em;
    background-size: 60%;
}

.freedom .orng{
	margin-top: 1.7em;
}

.profit{
	background: url('/ico/profit.png');
	background-repeat: no-repeat;
    background-position: 50% 6em;
    background-size: 50%;
}

.orng{
	font-family: MuseoSansCyrl_700!important;
	color: #ff8a18;
	font-size: 1.4vw;
	margin: 2em 0 0 0;
}

.who_txt{
	font-family: MuseoSansCyrl_100;
	color: black;
	font-size: 1.1vw;
	margin: 1em 0 0 0;
	font-weight: 100;
}

.how-screen button{
	height: 4vw;
	width: 22vw;
	background-color: #ff8a18;
	margin: 0;
	border: none;
	border-radius: 2em;
	font-family: MuseoSansCyrl_500;
	font-size: 1.2vw;
	font-weight: 500;
}

.how-screen button:hover{
	height: 4.2vw;
	width: 22.2vw;
	margin: 0 0 0.2vw 0;
}

.how-screen button:active{
	height: 4.2vw;
	width: 22.2vw;
	background-color: #D9550E;
	margin: 0 0 0.2vw 0;
}

/*-----------------------------Sixth Screen(comments-screen)------*/
.comments-screen{
	height: 95vh;
	padding: 3vw 0 0 0;
	margin: 0 0 1.5vw 0;
	text-align: center;
}

.swiper-container{
	margin: 3em 0 0 0;
	height: 72%;
	width: 92%;
}

.comment_name{
	color: #ff8a18;
	font-family: MuseoSansCyrl_700;
	font-size: 1.3em;
}

.comment_who{
	font-family: MuseoSansCyrl_300;
	color: #232323;
	font-size: 1.2em;
}

.swiper-slide{
	padding: 0 0 0 0;
}

.comm_img_hldr{
	min-width: 226px;
	width: 50%;
}

.swiper-slide video{
	height: 20vw;
    width: 240px;
    z-index: 1;
}

.ico_play{
    position: absolute;
    z-index: 2;
    margin: 38% 0 0 -59%;
    width: 30%;
}

.ewwq{
    margin: 2em 0 0 0;
}

.frdsd{
	margin-top: 2em!important;
}


.swiper-pagination-bullet{
	border: 0.2em solid #ff8a18;
	background: white!important;
	width: 1em!important;
	height: 1em!important;
}

.swiper-pagination-bullet-active{
	background-color: #ff8a18!important;
}

.swiper-button-prev{
	background: url('/ico/left_arr.png')!important;
	background-size: 1em!important;
	background-repeat: no-repeat!important;
}

.swiper-button-next{
	background: url('/ico/right_arr.png')!important;
	background-size: 1em!important;
	background-repeat: no-repeat!important;
}

.watch_more{
	display: inline-block;
	font-family: MuseoSansCyrl_100;
	color: #737272;
	font-size: 1.2em;
	letter-spacing: 1px;
}

    
.start-arrow{
	margin: 4em 0 0 23em!important;
}

    
.progr-arrow{
	margin: 1em 0 0 15em!important;
}

.arrow{
	background: url('/ico/arrow.png');
	background-size: 3em;
	background-repeat: no-repeat;
	height: 3em;
	width: 3em;
	display: inline-block;
	border-radius: 10em;
	margin: 2em 0 0 1em;
	vertical-align: bottom;
	cursor: pointer;
}

.arrow:hover{
	height: 3.2em;
	width: 3.2em;
	margin: 1.8em -0.2em 0 1em;
	background-color: white;
	background: url('/ico/arrow.png');
	background-size: 3.2em;
}

.arrow:active{
	background: url('/ico/ntbtn.png');
	height: 3.2em;
	width: 3.2em;
	margin: 1.8em -0.2em 0 1em;
	background-color: #c4c4c4;
	background-size: 3.2em;

}
/*-----------------------------Seventh Screen(questions-screen)-----------------*/
.questions-screen{
	height: 95vh;
	text-align: center;
	padding: 3vw 0 0 0;
    margin: 0 0 1.5vw 0;
}

.questions-screen img{
	display: inline-block;
	vertical-align: top;
}

.prg img{
	margin-left: -0.6em;
}

.zag{
	display: inline-block;
}

.left_quest, .right_quest{
	text-align: left;
	margin: 18vh 0 0 0;
	padding: 0 0 0 10%;
	height: auto;
}

.left_quest ul li a, .right_quest ul li a{
	color: #232323;
}

.left_quest ul li, .right_quest ul li{
	list-style: url('/ico/ar.png');
	margin-left: 0.6vw;
	font-family: MuseoSansCyrl_100;
	font-size: 1em;
}

.left_quest ul .else, .right_quest ul .else{
	margin: 0.5em 0 0 -4px;
	font-family: MuseoSansCyrl_500;
	color: #afafaf;
	list-style: none;
	font-size: 1.05em;
}
.right_quest{
	background: url('/ico/qw.png');
	background-repeat: no-repeat;
	background-position: right;

}

.prg, .all{
	margin: 3vw 0 4vw 0;
}

.zag{
	font-family: MuseoSansCyrl_700;
	color: #ff8a18;
}

.ref .zag, .ruls .zag{
	margin-top: 0.6em;
	font-size: 1.4vw;
}

.left_quest ul li a, .right_quest ul li a {
	font-size: 1.1vw;
}
/*-----------------------------Eighth Screen(connect-screen)---------------*/
.connect-screen{
	height: 85vh;
	background: url('/ico/unfootscr.png');
	background-repeat: no-repeat;
	background-size: 100vw 85vh;
	background-position: -2.5vw 0;
	margin: 0;
	padding: 0 0 0 0;
}

.connect_screen_shader{
    width: 100%;
    height: 85vh;
    position: absolute;
    background-color: rgba(50,50,50,0.7);
    z-index: 1;
}

.connect_screen_shader p {
    font-size: 19.1vw;
    font-family: GubiaBlack;
    margin: 8vw 0 0 -0.8vw;
    opacity: 0.2;
    color: white;
}
 
.connect_content{
	position: relative;
	z-index: 2;
	text-align: center;
	height: 88vh;
}

.connect_content p{
	color: white;
}

.connect{
	font-family: GilroyBold;
	font-size: 2em;
	letter-spacing: 1px;
	padding: 5em 0 0 0;
}

.connect_info{
	font-family: MuseoSansCyrl_500;
	font-size: 1.5em;
	margin: 2em 0 0 0;
	font-weight: 500;
}

.connect_price{
	font-family: MuseoSansCyrl_700;
	color: #c3c3c3!important;
	font-size: 1.55em;
	margin: 1em 0 0 0;
	background: url(/ico/fc_line.png);
	background-repeat: no-repeat;
	background-position: 34vw 5px;
}

.connect_price b{
	color: white!important;
	font-size: 1.6em!important;
}

.connect_btn{
	height: 4vw;
	width: 22vw;
	border-radius: 2em;
	border: none;
	margin: 6em 0 0 0;
	background-color: #ff8a18;
	color: white;
	font-size: 1.2vw;
	font-weight: 500;
    font-family: MuseoSansCyrl_500;
}

.connect_btn:hover{
	height: 4.2vw;
	width: 22.2vw;;
	margin: 5.8em -0.2 0 0;
	background-color: #ff8a18!important;
}

.connect_btn:active{	
	height: 4.2vw;
	width: 22.2vw;
	margin: 5.8em -0.2 0 0;
	background-color: #D9550E;
}

/*-----------------------------------Footer-----------------------*/
footer{
	font-family: GilroyLight;
	height: auto;
	background-color: #282828;
	margin: 0 0 -10px 0;
    padding: 2rem 0 0 0px;
	height: 22vw;
}

.mission p{
	line-height: 1.4vw;
	color: white;
	text-transform: uppercase;
	font-size: 0.9vw;
	margin: 3vh 0 0 0;
}

.mission img{
	margin: 2.15em 0 2.15em 0;
}

footer .prgrm_list ul li a, .ofrta ul li a, .reg_f_s a{
	text-decoration: none;
	color: white;
	font-size: 0.9vw;
	margin-top: 0.2em;
}

footer .prgrm_list ul li{
	padding-left: 28%;
}

footer .prgrm_list{
	padding: 2.5em 0 0 0;
	line-height: 1.6em;
}

footer .prgrm_list .bonus{
	margin: 1em 0 0 0;
	line-height: 1em;
}

.reg_f_s{
	padding: 2.2em 0 0 0;
	line-height: 2em;
}

.reg_f_s img{
	display: inline-block;
	width: 3em;
	margin: 2em 0 0 0.5em;	
}

.ofrta{
	padding: 2.5em 0 0 0;
}

.accsss{
	line-height: 1em;
}

#section_2, #section_3, #section_4, #section_5, #section_6, #section_7{
	
}

/*-----------------------------Login form------------------------*/
.modal-dialog{
	margin: 7em auto;
}

.login_form{
		width: 32em;
	}

.login_form .modal-content{
border-radius: 0;
background: url("/ico/R.png");
background-repeat: no-repeat;
background-size: 11em;
background-color: white;
background-position: 20em 8em;
text-align: center;
}

.login_form .modal-content .modal-body h4,.reg_modal .modal-content .modal-body h3 {
	color: #ff8a18;
	font-family: MuseoSansCyrl_900;
	font-size: 1.4em;
	margin: 1.5em 0 0 0;
}

.login_input{
	background-color: white;
	border-radius: 3px;
	border: 0.1em solid #B3B3B3;
	color: #81868F;
	width: 75%;
	height: 3em;
	font-size: 1em;
	padding: 0 0 0 2em;
}

.login_form .modal-content .modal-body .user_data #email{
	margin: 3em 0 0 0;
}

.login_form .modal-content .modal-body .user_data #password{
	margin: 0.5em 0 0 0;
}

.login_btn{
	background-color: #ff8a18;
	border: none;
	border-radius: 2em;
	width: 75%;
	height: 3em;
	color: white;
	margin: 2em 0 0 0;
	font-family: MuseoSansCyrl_100;
	font-size: 0.88em;
}

.login_btn:hover{
	width: 76%!important;
	height: 3.1em!important;
	margin: 1.9em 0 0 0;
}

.login_btn:active{
	width: 76%!important;
	height: 3.1em!important;
	margin: 1.9em 0 0 0;
	background-color: #D9550E;

}

.login_form .modal-content .modal-body a{
	color: #81868F;
	font-family: MuseoSansCyrl_100;
	text-decoration: none;
	display: block;
	margin: 1.5em 0 0 0;
	padding: 0;
}

hr{
	margin: 0 0 0.2em 0;
	width: 25%;
	border-bottom: 0.00000000000000000000411px solid #81868F;
	box-shadow: 0px 1px 0px #81868F;
}
.enter_across{
	text-align: center;
}


.enter_across a, .enter_across hr{
	display: inline-block !important;
}

.enter_across a{
	color: #81868F !important;	
	text-decoration: none;
	pointer-events: none;
}

.vk_fs a img{
	width: 3em;
	display: inline-block;

}

.vk_fs a{
	margin: 1em 0 0 0!important;
	display: inline-block!important;
	width: 15%;
}

@media screen and (max-width: 46.0625em) {
	.login_form{
		width: 95%;
	}
	hr{
		width: 23%;
	}
	.login_form .modal-content{
	background-position: 95% 8em;
	}
	.right-sex{
		padding: 0 0 0 0.3em!important;
	}
}

/*------------------------------Registration Form---------------------------------*/

.reg_modal{
	width: 32em;
}

.reg_modal .modal-content{
	height: 36em;
	text-align: center;
	border-radius: 0;
	background: url("/ico/R.png");
	background-repeat: no-repeat;
	background-size: 11em;
	background-color: white;
	background-position: 20em 9.75em;

}

.reg_input{
	background-color: white;
	border-radius: 3px;
	border: 0.1em solid #B3B3B3;
	color: #81868F;
	width: 65%;
	height: 2.5em;
	font-size: 1em;
	padding: 0 0 0 2em;
}

.reg_modal .modal-content .modal-body .user_data #email{
	margin: 2em 0 0 0;
}

.reg_modal .modal-content .modal-body .user_data #password,#first_name ,#surname ,#phone{
	margin: 0.5em 0 0 0;
}

.sex_chs{
	height: 1em;

}

.sex, .sex p, .sex input{
	display: inline-block;
	font-family: MuseoSansCyrl_100;
}

.left-sex{
	text-align: right;
	padding: 0.2em 0 0 0;
	color: #81868F;
	font-family: MuseoSansCyrl_100;
	margin: 0;
}

.right-sex{
	text-align: left;
	margin: 0;
}

.sex p{
	vertical-align: middle;
	color: #81868F;
	margin: 0.2em 0 0 1.2em;
}

.sex{
	width: 4em;
}

.registr_btn{
	background-color: #ff8a18;
	border: none;
	border-radius: 2em;
	width: 65%;
	height: 3.5em;
	color: white;
	margin: 1.5em 0 0 0;
	font-family: MuseoSansCyrl_100;
	font-size: 0.88em;
}

.registr_btn:hover{
	width: 66%!important;
	height: 3.7em;
	margin: 1.4em 0 0 0;
}

.registr_btn:active{
	width: 66%!important;
	height: 3.7em;
	margin: 1.4em 0 0 0;
	background-color: #D9550E;
}

.reg_enter_across{
	margin: 1em 0 0 0;
}

.reg_enter_across hr{
	width: 16%;
}

div {
  margin:0 0 0.5em 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    top: -0.3em;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    border: 1px solid #B3B3B3;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 0.7em;
    height: 0.7em;
    background: #ff8a18;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


@media screen and (max-width: 46.0625em) {
	.reg_modal{
		width: 95%;
	}

	.reg_modal .modal-content{
		background-position: 90% 9.75em;

	}
}


/*---------------------Mobile version--------------------*/
@media screen and (max-width: 992px) {
/*---------------------Reg Screen-------------------------*/

	.reg-screen .checked{
		padding: 1em 2em 0 0!important;
	}
	
	.reg-screen{
		height: 69vw;
	}

	.info_cont {
	    padding: 10vw 0 0 0;
	}

	.info_cont ul{
		height: 20vw;
	}

	
	.info-screen hr {
	    margin: 70vw 0 0 40%;
	}

	.reg_scrn_txt{
		padding: 19vw 0 0 0;
	}

	.rg_btn{
    	font-size: 1.4vw;
    	width: 25vw;
    	height: 5vw;
	}

	.user-name{
		font-size: 1em!important;
	}

	.freedom {
	    background: url(/ico/freedom.png);
	    background-repeat: no-repeat;
	    background-position: 2.5vw 4em;
	}

	.profit {
	    background: url(/ico/profit.png);
	    background-repeat: no-repeat;
	    background-position: 5vw 4em;
	}

	.choice {
	    background: url(/ico/choice.png);
	    background-repeat: no-repeat;
	    background-position: 7vw 4em;
	}

	.main_dropdown .dropdown-toggle i{
		font-size: 1em;
	}

	.reg_log_btns{
		margin: 3vw 3vw 0 0;
	}

	/*----------------------info screen----------------*/
	.programm_list {
	    height: 100%;
	    width: 100%;
	    background: url(/ico/PO.png);
	    background-size: 100vw 64vh;
	    background-repeat: no-repeat;
	    background-position: -1vw 3vw;
	    padding: 3.5vw 0 0 0;
	}
	
	.programm-screen{
		margin:0;
	}


	.bonus-screen {
	    height: 91vh;
	    text-align: center;
	    padding: 0 0 0 0;
	}

	.rone_start{
		height: 39.5vw!important;
		text-align: center;
	}

	.start{
	    height: 41vw;
	    width: 36vw;
   	}

	.first_progr_string ul li img, .second_progr_string ul li img {
	    width: 25vw;
	    height: 19.85vw;
	}

	.start_shader_gray {
	    margin: -41vw 0 0 0;
	    height: 41vw;
	    width: 36vw;
	}

	.start_shader {
	    position: absolute;
	    margin: -41vw 0 0 0;
	    width: 87%;
	    height: 41vw;
	    background-color: rgba(0,0,0,0.6);
	    z-index: 1;
	    display: none;
	}

	.ico_play{
	    margin: 100px 0 0 -150px;	
	    width: 6em;
	}

	.programm-screen hr {
	    margin: 60vw 0 0 40%!important;
	}

	.programm-screen h2 {
	    text-align: center;
	    margin: 3em 0 5vw 0;
	}

	.left_bonus_part {
	    padding: 4vw 0 0 0;
	}



	.pro_shader_gray, .run_shader_gray {
	    margin: -20vw 0 0 0;
	    width: 25vw;
	    height: 20vw;
	}

	.pow_shader_gray, .runp_shader_gray{
	    margin: -20vw 0 0 1.5vw;
	    width: 25.5vw;
    	height: 20vw;
	}

	.pro_shader, .run_shader {
	    height: 19.7vw;
	    margin: -19.7vw 0 0 0;
	    width: 25vw;
	}

	.pow_shader, .runp_shader {
    height: 19.7vw;
    margin: -19.7vw 0 0 1.9vw;
    width: 25vw;
	}

	.pro_shader h4, .pow_shader h4, .run_shader h4, .runp_shader h4 {
	    font-family: MuseoSansCyrl_700;
	    font-size: 2vw;
	    position: relative;
	    z-index: 3;
	    margin: 2vw 0 0 2vw;
	    color: white;
	    width: 20vw;
	}

	.pro_shader_gray p, .run_shader_gray p {
	    font-family: MuseoSansCyrl_900;
	    color: #fefefe;
	    opacity: 0.2;
	    font-size: 12vw;
	    margin: 8vw 0 0 -1.5vw;
	}

	.pow_shader_gray p, .runp_shader_gray p {
	    font-family: MuseoSansCyrl_900;
	    color: #fefefe;
	    opacity: 0.2;
	    font-size: 12vw;
	    margin: 8vw 0 0 -1.5vw;
	}

	.left_bonus_part img{
		width: 20vw;
	}

	.how-screen{
		padding: 4vw 0 0 0;
		margin:0;
	}

	.right_bonus_part{
		text-align: center;
		background: none;
	}

	.bonus_btn{
		width: 27em;
    	height: 5em;
	}
	.bonus_btn:hover{
		width: 27.2em;
    	height: 5.2em;
	}
	.bonus_btn:active{
		width: 27.2em;
    	height: 5.2em;
	}
	.how-screen button{
		height: 6vw;
    	width: 35vw;
    	font-size: 1.5vw;
    	margin: 6vw 0 0 0;
	}
	.connect_screen_shader {
	    height: 95vh;
	}
	.n1 p, .n2 p, .n3 p, .n4 p, .n5 p, .n6 p {
	    font-size: 1.3vw;
	}

	.start_shader_gray p{
	    margin: 22vw 0 0 -4vw;
	}

	.how-screen button:hover{
		height: 6.2vw;
    	width: 35.2vw;
	}

	.how-screen button:active{
		height: 6.2vw;
    	width: 35.2vw;
	}

	.swiper-slide{
		font-size: 1.5vw;
	    padding: 3% 0 0 0;
	}
	
	.comment_name {
	    color: #ff8a18;
	    font-family: MuseoSansCyrl_700;
	    font-size: 1.3em;
	    margin: 2vw 0 0 0;
	}

	.connect-screen{
	    background-size: 103% 90vw;
	}

	.swiper-container{
		height: 50vw;
		margin: 3.5vw auto!important;
	}

	.arrow{
		margin: 0;
	}
	.connect_price{
		background-position: 40vw 5px;
	}

	.how_cnt{
		margin: 4em 0 0 0;
	}

	footer{
		height: 30vw;
	}

	.orng {
	    font-family: MuseoSansCyrl_700!important;
	    color: #ff8a18;
	    font-size: 1.3em;
	    margin: 1.65em 0 0 0;
	}

	.connect_screen_shader p {
	    font-size: 14.7vw;
	    font-family: MuseoSansCyrl_900;
	    margin: 23vw 0 0 -0.8vw;
	    opacity: 0.2;
	    color: white;
	}
	.side_logo {
	    width: 18vw;
	    margin-left: 0;
	}
}

@media screen and (max-width: 767px) {
	.programm-screen {
	    height: auto;
	    margin: 0 0 7vw 0;
	}

	.who_txt {
	    font-size: 1.1em;
 	   }

	.right_bonus_part p {
	    font-size: 1.1em;
	}

	.bonus-screen {
	    height: auto;
	    text-align: center;
	    padding: 0 0 0 0;
	}

	.how-screen {
	    height: auto;
	    margin: 0 0 10vw 0;
	}

	.comments-screen {
	    height: auto;
		margin: 0 0 13vw 0;
	}

	.info-screen{
		height: auto;
	    margin: 0 0 5vw 0;
	}
	
	.info_cont ul {
	    height: 225vw;
	}

	.info_cont {
	    padding: 0vw 0 0 0;
	}

	.info_naming {
	    padding: 12vw 0 0 0;
	}

	footer {
	    height: auto;
	}

	.st-effect-2.st-menu-open .st-pusher {
	    -webkit-transform: translate3d(50%, 0, 0);
	    transform: translate3d(50%, 0, 0);
	}
	.st-menu{
		width: 50%;
	}
	.side_logo{
		width: 35vw;
		margin-left: 0;
	}
	.reg_btn:hover{
		width: 20.2vw;
	    height: 5.8vw;
	    margin: -0.2em 0 0 0.2em;
	    background-color: #ff8a18;
	}

	.reg_btn:active{
		width: 20.2vw;
	    height: 5.8vw;
	    margin: -0.2em 0 0 0;
	    background-color: #D9550E;
	}

	.log_btn:hover{
		width: 20.2vw;
	    height: 5.8vw;
	    margin: -0.2em -0.2em 0 0;
		background-color: rgba(0,0,0,0);
	}

	.log_btn:active{
		width: 20.2vw;
	    height: 5.8vw;
	    margin: -0.2em -0.2em 0 0;
	    border: none;
		background-color: rgba(255,255,255,0.7);
	}
	.user_dropdown{
		min-width: 59px!important;
	}
	.main_dropdown .user_dropdown li a {
	    padding: 4% 0 0 8% !important;
	    font-size: 2vw;
	    width: 10em;
	}
	.main_dropdown .user_dropdown li {
	    height: 5vw;
	}
	.main_dropdown .user_dropdown {
	    background-color: rgba(0,0,0,0);
	    text-align: left;
	    margin: -15px -1.4em 0 0;
	    /* z-index: 2222312; */
	    color: white;
	    width: 1px!important;
	}

	.reg-screen{
		height: 100vw;
	}

	.reg_log_btns {
	    margin: 3vw 7vw 0 0;
	    word-spacing: 2vw;
	}

	.cdr-btn {
	    position: relative;
	    z-index: 2;
	    padding: 2vw 0 0 4vw;
	    background-color: rgba(0,0,0,0);
	}
	.reg_scrn_txt {
	    padding: 30vw 0 0 0;
	}

	.reg_scr_content h1 {
	    font-size: 4vw;
	}

	.reg_scrn_txt p {
	    font-size: 3vw;
	}

	.rl_btns {
	    width: 20vw;
	    height: 5.5vw;
	    border-radius: 2em;
	    font-size: 1.6vw;
	}

	.rg_btn {
	    font-size: 2.2vw;
	    width: 40vw;
	    height: 8vw;
	    margin: 12vw 0 0 0;
	}

	.rg_btn:hover {
	    font-size: 2.3vw;
	    width: 40.2vw;
	    height: 8.2vw;
		margin: 11.8vw 0 0 0;
	}

	.rg_btn:active {
	    font-size: 2.3vw;
	    width: 40.2vw;
	    height: 8.2vw;
		margin: 11.8vw 0 0 0;
	}

	.info_naming h2, .programm-screen h2, .bonus-screen h2, .how-screen h2, .comments-screen h2, .questions-screen h2 {
	    font-size: 5.9vw;
	    margin: 1em 0 1em 0;
	}

	.info_naming img {
	    width: 41vw;
	}

	.n1 , .n2, .n3, .n4, .n5, .n6{
	    margin-top: 10vw;
	}

	.pro_shader, .pow_shader, .run_shader, .runp_shader {
	    margin: -59.8vw 0 0px 0px;
	    width: 85.2vw;
	    height: 60vw;
	}

	.first_progr_string ul li .prprp, .second_progr_string ul li .prprp {
    	font-size: 8vw;
    	margin: -16vw 0 0 6vw;		
	}	

	.pro_shader h4, .pow_shader h4, .run_shader h4, .runp_shader h4 {
	    font-size: 5vw;
	    margin: 4vw 0 0 2vw;
	    width: 39vw;
	}

	.pro_shader p, .pow_shader p, .run_shader p, .runp_shader p {
	    margin: 1em 0 0 2vw;
	    font-weight: 100;
	    font-size: 3vw;
	    width: 75vw;
	    height: 32vw;
	    text-align: left;
	}

	.arrow {
	    background: url(/ico/arrow.png);
	    background-size: 2em;
	    background-repeat: no-repeat;
	    height: 2em;
	    width: 2em;
	    vertical-align: middle;
	}

	.watch_more {
	    vertical-align: sub;
	}

	.arrow:hover {
	    background: url(/ico/arrow.png);
	    background-size: 2.2em;
	    background-repeat: no-repeat;
	    height: 2.2em;
	    width: 2.2em;
	}

	.arrow:active {
	    background: url(/ico/ntbtn.png);
	    background-size: 2.2em;
	    background-repeat: no-repeat;
	    height: 2.2em;
	    width: 2.2em;
	}
	.n1 img, .n2 img, .n3 img, .n4 img, .n5 img, .n6 img {
	    width: 40vw;
	}

	.n1 p, .n2 p, .n3 p, .n4 p, .n5 p, .n6 p {
	    margin: 1.5em 0 0 0!important;
	    font-size: 5vw;
	}
	
	.n1 {
	    background: url(/ico/1.png);
	    background-position: 53vw 2.75em;
	    background-repeat: no-repeat;
	    background-size: 17vw;
	}
	
	.n2 {
	    background-position: 59.6vw 3em;
	}

	.n3 {
	    background-position: 60.6vw 2.75em;
	}

	.n4 {
	    background-position: 58.3vw 3em;
	}

	.n5 {
	    background-position: 58.3vw 3em;
	}

	.n6 {
	    background-position: 58.3vw 3em;
	}

	.rone_start{
		height: auto!important;
		margin:0;
		padding: 0;
	}

	.start{
		height: 100vw!important;
		width: 85vw;
	}
	.start_shader {
	    margin: -100vw 0 0px 7.5vw!important;
	    width: 85.2%!important;
	    height: 100vw!important;
	}

	.start-arrow {
	    margin: 14em 0 0 10em!important;
		width: 4.5em;
		height: 4.5em;
		background-size: 4.5em;
	}

	.start-arrow:hover {
	    margin: 17em 0 0 12em!important;
		width: 4.7em;
		height: 4.7em;
		background-size: 4.7em;
	}

	.start-arrow:active {
	    margin: 17em 0 0 12em!important;
		width: 4.7em;
		height: 4.7em;
		background-size: 4.7em;
	}

	.progr-arrow {
	    margin: -1em 0px 0 12em!important;
		height: 4em;
		width: 4em;
		background-size: 4em;
	}


	.start_shader h4{
		font-size: 6vw;
	}

	.start_shader p {
	    margin: 1em 0 0 3vw!important;
	    font-size: 3.4vw!important;
	    width: 61vw!important;
	    height: 62vw!important;
	}

	.start_shader button {
	    margin: 0 1em 0 0;
	}

	.rone_other_progr{
		padding: 0;
		text-align: center;
	}

	.first_progr_string ul, .second_progr_string ul{
		padding: 0vw 0 0 3vw!important;
		margin:0px;

	}
	.first_progr_string, .second_progr_string{
		word-spacing: normal!important;
	}
	.first_progr_string ul li, .second_progr_string ul li{
		width: 60vw!important;
		height: 100%;
	}

	.first_progr_string ul li img, .second_progr_string ul li img {
	    width: 85vw!important;
	    height: 60vw;
	    margin:1em 0 0 0;
	}

	.first_progr_string, .second_progr_string{
		height: auto;
	}

	.left_bonus_part img {
	    width: 40vw!important;
	}

	.right_bonus_part{
		height: auto!important;
		padding: 8vw 0 0 0;
	}

	.start_shader_gray {
	    margin: -100vw 0 0 8vw;
	    height: 100vw;
	    width: 85vw;
	}

	.pro_shader_gray, .run_shader_gray {
	    margin: -60vw 0 0 0;
	    width: 85.5vw;
	    height: 60vw;
	}

	.pow_shader_gray, .runp_shader_gray{
	    margin: -60vw 0 0 0;
	    width: 85.5vw;
	    height: 60vw;
	}

	.pro_shader_gray p, .run_shader_gray p {
	    font-family: MuseoSansCyrl_900;
	    color: #fefefe;
	    opacity: 0.2;
	    font-size: 34vw;
	    margin: 25vw 0 0 -50.5vw;
	}

	.pow_shader_gray p, .runp_shader_gray p{
	    font-family: MuseoSansCyrl_900;
	    color: #fefefe;
	    opacity: 0.2;
	    font-size: 34vw;
	    margin: 25vw 0 0 -50.5vw;
	}

	.start_shader_gray p {
	    font-family: MuseoSansCyrl_900!important;
	    color: #fefefe!important;
	    opacity: 0.2;
	    font-size: 46vw!important;
	    margin: 52vw 0 0 -7vw!important;
	}

	footer .prgrm_list {
    	padding: 5.7em 0 0 0;
	}

	.rone_start p{
	    position: absolute;
	    font-size: 9vw;
	    color: white;
	    margin: -22vw 0 0 14vw;
	    z-index: 2;
	}

	.bonus_btn {
	    width: 52vw;
	    height: 10vw;
	    font-size: 3vw;
	    margin: 7vw 0 5vw 0px;
	}
	
	.how_screen, .asd {
		height: auto!important;
		max-height: none!important;
	}

	.how_cnt{
		margin:12vw 0 0 0;
	}

	.how_cnt img {
   		width: 40vw!important;
	}

	.choice {
	    background-position: 15.5vw 6.5em;
	}

	.freedom {
	    background-position: 7.5vw 6.5em;
	}

	.profit {
	    background-position: 11vw 6.5em;
	}

	.how-screen button {
	    height: 10vw!important;
	    font-size: 0.7em!important;
	    width: 50vw!important;
	}

	.swiper-container{
		height: 120vw!important;
	}

	.ico_play {
    	margin: 100px 0 0 -150px;
	    width: 20vw;
	}

	.comment_who {
	    font-size: 3.5em;
	}

	.comment_name {
	    font-size: 4.3em;
	}
	.left_quest, .right_quest {
	    margin: 0;
	}
	
	.ref, .prg, .ruls, .all{
		margin: 10vw 0 0 0;
	    padding: 0 0 0 11vw;
	}
	.connect-screen {
	    height: 65vh;
	    background-size: 199vw 66vh!important;
	    background-position: -10em;
	}

	.questions-screen img {
		width: 8vw;
		margin-left: 0!important;
	}

	.left_quest ul li a, .right_quest ul li a {
		font-size: 4vw;	
	}

	.left_quest ul .else, .right_quest ul .else {
    	margin: 0.5em 0 15vw -4px;
	}

	.ref, .zag, .ruls .zag{
		font-size: 5vw;
	}
	.connect_screen_shader {
	    height: 100%;
	}

	.connect_info{
	    font-size: 3vw;
	}

	.questions-screen{
		padding: 1.5em 0 0 0!important;
		height: auto;
	}
	
	.connect {
	    font-size: 3em;
	    letter-spacing: 1px;
	    padding: 13vw 0 0 0;
	}

	.connect {
	    font-size: 1.5em;
	    letter-spacing: 1px;
	    padding: 19vw 0 0 0;
	}

	footer .prgrm_list ul li a, .ofrta ul li a, .reg_f_s a {
	    font-size: 3vw;
	    margin-top: 0.2em;
	}

	.mission p {
    line-height: 4vw;
    color: white;
    text-transform: uppercase;
    font-size: 3vw;
    padding: 0.5vw 0 0 0;
	}

	.reg_f_s ul{
		padding: 0 0 0 5vw;
	}

	.connect_btn{
	    height: 10vw!important;
	    font-size: 2.3vw!important;
	    width: 50vw!important;
	}

	.connect_price {
	    background-position: 25vw 5px!important;
	}

	.connect_screen_shader p {
	    font-size: 14.8vw;
	    font-family: MuseoSansCyrl_900;
	    margin: 38vw 0 0 -0.8vw;
	    opacity: 0.2;
	    color: white;
	}

	.st-menu ul li a {
	    padding: 1.8em 0 1.8em 2.6em!important;
	    text-align: left;
	}
}

#video-modal{
	text-align: center!important;
}

.width-eight-perc{
	margin:2vw auto;
}

@media(min-width:1200px){
	.reg-screen{
		background: url(/ico/regmg.png);
		background-size: 100% 100%;
		background-position: 0;
		min-height: 52vw;
		max-height: 100vw;
		background-repeat: no-repeat;
		padding: 0;
	}
	.ico_play {
	    position: absolute;
	    z-index: 2;
	    margin: 32% 0 0 -44%;
	    width: 20%;
	}
	.comm_img_hldr {
	    min-width: 226px;
	    width: 70%;
	}

	.comment_who {
	    font-size: 1.5vw;
	}

	.comment_name {
	    font-size: 1.8vw;
	}

	.swiper-container {
	    height: 32vw;
	}

	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	    font-size: 1.5em;
	}
	.watch_more {
	    font-size: 2em;
	}

	.arrow {
	    height: 4vw;
	    width: 4vw;
	    background-size: 4vw;
	}

	.arrow:hover {
	    height: 4.7em;
	    width: 4.7em;
	    background-size: 4.7em;
	}

	.arrow:active {
	    height: 4.7em;
	    width: 4.7em;
	    background-size: 4.7em;
	}

	.questions-screen img {
	    display: inline-block;
	    vertical-align: top;
	    width: 2vw;
	}
}

@media(min-height:800px) and (max-width: 1500px){
	.reg-screen {
	    background: url(/ico/regmg.png);
	    background-size: 130% 100%;
	    background-position: -11rem;
	    min-height: 52vw;
	    max-height: 100vw;
	    background-repeat: no-repeat;
	    padding: 0;
	    height: 100vh;
	}

	.reg_scrn_txt {
	    padding: 25% 0 0 0;
	}

	.rg_btn {
	    margin: 10% 0 0 0;
	}

	.info_cont {
    padding: 7vw 0 0 0;
	    text-align: center;
	}

	.n4, .n5, .n6 {
	    margin: 10% 0 0 0;
	}
	.info_naming {
	    text-align: center;
	    padding: 5% 0 0 0;
	}
	.programm-screen {
	    padding: 6% 0 0 0;
	}
	.programm_list {
	    background-size: 103% 75%;
	    background-position: -1vw 3vw;
	    padding: 7.5vw 0 0 0;
		margin: 5% 0 0 0;
	}
	.left_bonus_part {
	    padding: 23% 0 0 0;
	}
	.right_bonus_part {
	    height: 80%;
	    padding: 24% 0 0 2.9em;
	    background-position: right 75%;
	    background-size: 18vw;
	}
	.bonus-screen{
		padding: 9% 0 0 0;
	}

	.how-screen {
	    padding: 9% 0 0 0;
	}

	.how_cnt {
	    margin: 20% 0 0 0;
	}

	.swiper-container {
	    margin: 12% 0 0 0;
	    height: 60%;
	    width: 94%;
	}

	.comments-screen {
	    height: 95vh;
	    padding: 9% 0 0 0;
	}

	.comm_img_hldr {
	    width: 88%;
	}
	.ico_play {
	    position: absolute;
	    z-index: 2;
	    margin: 39% 0 0 -59%;
	    width: 30%;
	}
	.left_quest, .right_quest {
	    text-align: left;
	    margin: 15% 0 0 0;
	    padding: 0 0 0 10%;
	    height: auto;
	}
	.questions-screen {
	    padding: 9% 0 0 0;
	}
	.prg, .all {
	    margin: 30% 0 4vw 0;
	}
	.connect-screen {
	    height: 65vh;
	    background-size: 102% 100%;
	    background-position: -0.6em;
		margin: 0 0 0 -1px;
	}

	.connect_screen_shader {
	    height: 65vh;
	}

	.connect_content {
	    height: 100%;
	}

	.n1 p, .n2 p, .n3 p, .n4 p, .n5 p, .n6 p {
	    font-size: 1.3vw;
	}

	.right_bonus_part p {
	    font-size: 1.5vw;
	}

	.who_txt {
	    font-size: 1.3vw;
	}

	.orng {
		font-size: 1.5vw;
	}

	.zag {
		font-size: 1.5em;
	}

	.left_quest ul li a, .right_quest ul li a {
	    font-size: 1.3vw;
	}

	.left_quest ul .else, .right_quest ul .else {
	    font-size: 1.3vw;
	}

	footer {
	    background-color: #282828;
	    margin: 0 0 -10px -1px;
	    padding: 4rem 0 0 0px;
	    height: 35vh;
	}
}