.video-modal{
	background-color: #f48931;
}

.close span img{
	width: 1em;
}

.close:hover {
	text-decoration: none;
	background: none;
}

.video-descr{
	margin: 1em 0 0 0;
}

.chs-program-widnow{
	width: 65em;
}