.left-progrm-part{
	margin: 2em 0 0 0;
}

.slate{
	margin: 2em 0 1em 0;
}
.video-modal{
	height: 100%;
}

/*.modal-content{
	height: 40em;
}
*/
.video-container{
	height: 100%;
}

.close span img{
	width: 1em;
}

.close:hover {
	text-decoration: none;
	background: none;
}

.video-descr{
	margin: 1em 0 0 0;
}


		/*Окно выбора программы*/
.checkboxiki{
	margin: 3em 0 0 0;
	text-align: left;
	font-family: MuseoSansCyrl_100;
	font-size: 1em;
	color: #444444;
}

.checkboxiki a{
	color: #454545;
	vertical-align: super !important;
	text-decoration: underline;
	text-decoration-color: #454545;
}


.checkboxiki ul{
	list-style-type: none;
	vertical-align: center;
}
.ddicc{
	margin: 1.35em 0 0 15.35em;
	position: absolute;
	z-index: 3;
	pointer-events: none;

}
.chs-program-widnow{
	width: 60em;
}

.choose-program-form{
	height: 100%;
	background: url('/ico/REFORMATOR_ONE_fon_logo.png');
	background-repeat: no-repeat;
	background-position: -24% 98%;
	background-size: 78em 12em;

}

.prog-bold-txt{
	font-family: GilroyBold;
	font-size: 1em;
	color: #FF9319;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	margin-left: 2.3em;
}

.progr-drop{
	position: relative;
	width: 17em;
}

.drp-control{
	height: 3em;
	border:0.1em solid #b3b3b3;
	border-radius: 0.3em;
	color: #7d7d7d;
	appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 0;
    padding-left: 3em;
    left: 2.8em;
	margin: 0 0 0 2.3em;
	width: 17.1em;
}

.drp-control:hover {
	background-color: #e0e0e0;
	background-position: 0 -15px;
	color: #333;
	border-color: #adadad;
}

.drp-control:focus{
    outline: none;
    box-shadow: none;	
	border:0.1em solid #b3b3b3;
	border-radius: 0.3em;
	outline: thin dotted #333 !important;
	outline: 5px auto -webkit-focus-ring-color !important;
	outline-offset: -2px;
	background-color: #e0e0e0;
    background-position: 0 -15px;
	color: #333;
	border-color: #8c8c8c;
}

.drp-control:active{
	background-color: #e0e0e0;
	border-color: #dbdbdb;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	color: #333;
}
.select-side{
	pointer-events: none;
    width: 3em;
    position: absolute;
    top: 0px;
    height: 80%;
    left: 16.4em;
    padding: 0.6em 0 0 0;
    margin: 0.4em 0 0 0;
    border-left: 0.1em solid #b3b3b3;
}

.drp-control option{
	height: 3em;
	border: 0.1em solid #b3b3b3;

}

.bootstrap-select button, .bootstrap-select button:hover, .bootstrap-select button:active,.bootstrap-select button:focus ,input, select, select:hover, select:focus, select:active,
option, option:hover, option:active ,option:focus,
.form-control::-moz-focus-inner,.form-control:active,
.form-control:hover,.form-control:focus{
	outline: none;
	cursor: pointer;
}

/*--Select--*/

.bootstrap-select{
	width: 17em !important;
	height: 3em !important;
}

.bootstrap-select button{
	height: 3em;
	background: none;
	border: 0.1em solid #b3b3b3;
	color: #7d7d7d;
	font-family: sans-serif;
	padding-right: 2.6em !important;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0;
}

.filter-option{
	height: 100%;
	padding: 0.5em 0 0 2em;
	border-right: 0.1em solid #b3b3b3; 
}

.bootstrap-select button .bs-caret{
	display: none;
}

.open ul li{
	height: 3em;
} 

.open ul li a{
	height: 100%;
	padding: 0.7em 0 0 2.78em !important;
}
.open ul li a:hover{
	border-left: 0.4em solid #FF9319;}

.right-progrm-part{
	text-align: left;
	padding: 2em 0 0 4em;
}

.prg-img {

}

#r_prgr_name{
	padding: 1em 0 0 0;
    font-size: 1.1em;
    color: #FF9319;
    font-family: GilroyBold;
    font-weight: 100;
}



#r_prgr_descr{
	font-family: MuseoSansCyrl_100; 
	color: #454545;
	width: 24em;
}

#r_prgr_price{
	padding-right: 7vw;
	font-family: GilroyBold;
    font-weight: 100;
    color: #FF9319;
	text-align: right;
    font-size: 1.1em;

}

.righ_prgr_text p{
	margin: 1vw;
}

.send-progr-btn{
	float: left;
	margin: 3em 0 0 2.3em;
	height: 4em;
	width: 19em;
	background-color: #F98749;
	border: none;
	border-radius: 2em;
	color: white;
	font-family: MuseoSansCyrl;
	font-size: 1em;
}

.send-progr-btn:hover{
	width: 19.2em;
	height: 4.2em;
	margin: 2.8em 0 0 2.1em;
	font-size: 1em;
}

.send-progr-btn:active{
	width: 19.2em;
	height: 4.2em;
	margin: 2.8em 0 0 2.1em;
	font-size: 1em;
	background-color: #d9550e;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding: 0 0 0 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0.15em;
	top: 0.4em;
	width: 0.9em;
	height: 0.9em;
	border: 0.1em solid #ccc;
	border-radius: 26px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: url('/ico/check.png');
	position: absolute;
	left: .3em;
	font-size: 1em;
	transition: all .2s;
	top: 0;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #F98749!important;
}

