.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized .tooltipster-box {
	background: #FF9319;

}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized .tooltipster-content {
	color: white;
	font-weight: bold;
	padding: 8px;

}