.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized .tooltipster-box {
	background: #FF9319;

}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized .tooltipster-content {
	color: white;
<<<<<<< HEAD
	font-weight: bold;
	padding: 8px;

=======
	font-weight: 500;
	padding: 8px;
>>>>>>> cf964bc0ef0b326711dd8f9e094ed36ad4ed087e
}